<div class="container">
  <div class="jumbotron jumbotron-fluid" id="about_img">
    <h1 class="text-info pt-5 pl-5">ClaMaについて</h1>
    <h4 class="text-body pl-5"><strong>ClaMaはクラッシックギターを教えたもらいたい人と、</strong><br><strong>教えたい人をマッチングするアプリケーションです。</strong></h4>
  </div>
</div>
<div class="container">
  <div class="row mb-4">
    <div class="border border-dark rounded p-5">
      <h3>ClaMaの使い方</h3>
      <p>簡単4ステップでマッチング完了です。</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= image_tag("search.jpeg", :class => "card-img-top w-50") %>
      <div class="card-body">
        <h4 class="card-title">STEP1</h4>
        <p class="card-text">クラシックギターを教えてくれる先生を探します。</p>
      </div>
    </div>
    <div class="col">
      <%= image_tag("mail.jpeg", :class => "card-img-top w-50") %>
      <div class="card-body">
        <h4 class="card-title">STEP2</h4>
        <p class="card-text">気になる先生を見つけたら、オファーを送ります。</p>
      </div>
    </div>
    <div class="col">
      <%= image_tag("talk.jpeg", :class => "card-img-top w-50") %>
      <div class="card-body">
        <h4 class="card-title">STEP3</h4>
        <p class="card-text">チャットを通して打ち合わせを行います。</p>
      </div>
    </div>
    <div class="col">
      <%= image_tag("hand.jpeg", :class => "card-img-top w-50") %>
      <div class="card-body">
        <h4 class="card-title">STEP4</h4>
        <p class="card-text">お互いに承認が成立したらマッチング成功です。</p>
      </div>
    </div>
  </div>
</div>
