<div class="jumbotron jumbotron-fluid" id="home_img">
</div>
<div class="border border-dark rounded p-5 m-5">
  <h3 class="text-center">先生を教えてもらいたい人も、先生として教えたい人も</h2>
  <%= link_to "まずはユーザー登録！", new_user_registration_path, class: 'btn btn-primary btn-lg btn-block' %>
</div>
<div class="border border-dark rounded p-5 m-5">
  <h3 class="text-center">どんな先生がいるのか、どんな生徒がいるのか</h2>
  <%= link_to "登録者一覧を見る！", users_path, class: 'btn btn-primary btn-lg btn-block' %>
</div>
