<div class="container">

  <h1>Chat room</h1>

  <div id="messages" class="border">
    <%= render @messages %>
  </div>

  <form>
    <label>コメントする:</label><br>
    <input type="text" data-behavior="room_speaker">
  </form>
</div>
